<!-- <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url }}/docs/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_url }}/docs/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_url }}/docs/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ base_url }}/docs/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="{{ base_url }}/docs/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{{ base_url }}/docs/assets/favicons/favicon.ico"> -->
<link rel="icon" type="image/png" href="{{ base_url }}/assets/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ base_url }}/assets/favicons/favicon.svg" />
<link rel="shortcut icon" href="{{ base_url }}/assets/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_url }}/assets/favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Marchemy" />
<link rel="manifest" href="{{ base_url }}/assets/favicons/site.webmanifest" />
